In [1]:
import pandas as pd
from sklearn import model_selection

In [2]:
df = pd.read_csv("winequality-red.csv")
df["kfold"] = -1
df = df.sample(frac=1).reset_index(drop=True)
kf = model_selection.KFold(n_splits=5)

In [3]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,kfold
0,8.2,0.350,0.33,2.4,0.076,11.0,47.0,0.99599,3.27,0.81,11.0,6,-1
1,5.8,0.290,0.26,1.7,0.063,3.0,11.0,0.99150,3.39,0.54,13.5,6,-1
2,9.9,0.540,0.45,2.3,0.071,16.0,40.0,0.99910,3.39,0.62,9.4,5,-1
3,9.6,0.880,0.28,2.4,0.086,30.0,147.0,0.99790,3.24,0.53,9.4,5,-1
4,10.0,0.590,0.31,2.2,0.090,26.0,62.0,0.99940,3.18,0.63,10.2,6,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,9.2,0.410,0.50,2.5,0.055,12.0,25.0,0.99520,3.34,0.79,13.3,7,-1
1595,11.6,0.410,0.58,2.8,0.096,25.0,101.0,1.00024,3.13,0.53,10.0,5,-1
1596,6.6,0.855,0.02,2.4,0.062,15.0,23.0,0.99627,3.54,0.60,11.0,6,-1
1597,6.8,0.630,0.07,2.1,0.089,11.0,44.0,0.99530,3.47,0.55,10.4,6,-1
1598,7.9,0.720,0.01,1.9,0.076,7.0,32.0,0.99668,3.39,0.54,9.6,5,-1

In [4]:
for fold, (trn_, val_) in enumerate(kf.split(X=df)):
    df.loc[val_, 'kfold'] = fold

In [5]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,kfold
0,8.2,0.350,0.33,2.4,0.076,11.0,47.0,0.99599,3.27,0.81,11.0,6,0
1,5.8,0.290,0.26,1.7,0.063,3.0,11.0,0.99150,3.39,0.54,13.5,6,0
2,9.9,0.540,0.45,2.3,0.071,16.0,40.0,0.99910,3.39,0.62,9.4,5,0
3,9.6,0.880,0.28,2.4,0.086,30.0,147.0,0.99790,3.24,0.53,9.4,5,0
4,10.0,0.590,0.31,2.2,0.090,26.0,62.0,0.99940,3.18,0.63,10.2,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,9.2,0.410,0.50,2.5,0.055,12.0,25.0,0.99520,3.34,0.79,13.3,7,4
1595,11.6,0.410,0.58,2.8,0.096,25.0,101.0,1.00024,3.13,0.53,10.0,5,4
1596,6.6,0.855,0.02,2.4,0.062,15.0,23.0,0.99627,3.54,0.60,11.0,6,4
1597,6.8,0.630,0.07,2.1,0.089,11.0,44.0,0.99530,3.47,0.55,10.4,6,4
1598,7.9,0.720,0.01,1.9,0.076,7.0,32.0,0.99668,3.39,0.54,9.6,5,4

In [6]:
df.to_csv("train_folds.csv", index=False)