In [1]:
#Si el problema es de clasificacion la regla es escoger stritified k-fold a ciegas.
import pandas as pd
from sklearn import model_selection

In [2]:
df = pd.read_csv("winequality-red.csv")
df["kfold"] = -1
df = df.sample(frac=1).reset_index(drop=True)

In [3]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,kfold
0,7.6,0.540,0.13,2.50,0.097,24.0,66.0,0.99785,3.39,0.61,9.4,5,-1
1,9.1,0.290,0.33,2.05,0.063,13.0,27.0,0.99516,3.26,0.84,11.7,7,-1
2,8.6,0.370,0.65,6.40,0.080,3.0,8.0,0.99817,3.27,0.58,11.0,5,-1
3,8.2,0.330,0.39,2.50,0.074,29.0,48.0,0.99528,3.32,0.88,12.4,7,-1
4,11.4,0.625,0.66,6.20,0.088,6.0,24.0,0.99880,3.11,0.99,13.3,6,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,5.6,0.605,0.05,2.40,0.073,19.0,25.0,0.99258,3.56,0.55,12.9,5,-1
1595,6.9,0.635,0.17,2.40,0.241,6.0,18.0,0.99610,3.40,0.59,10.3,6,-1
1596,8.4,0.340,0.42,2.10,0.072,23.0,36.0,0.99392,3.11,0.78,12.4,6,-1
1597,11.1,0.390,0.54,2.70,0.095,21.0,101.0,1.00010,3.13,0.51,9.5,5,-1
1598,6.8,0.815,0.00,1.20,0.267,16.0,29.0,0.99471,3.32,0.51,9.8,3,-1

In [4]:
y = df.quality.values

In [5]:
y

array([5, 7, 5, ..., 6, 5, 3])

In [6]:
kf = model_selection.StratifiedKFold(n_splits=5)

In [8]:
for f, (t_, v_) in enumerate(kf.split(X=df, y=y)):
    df.loc[v_, 'kfold'] = f

In [9]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,kfold
0,7.6,0.540,0.13,2.50,0.097,24.0,66.0,0.99785,3.39,0.61,9.4,5,0
1,9.1,0.290,0.33,2.05,0.063,13.0,27.0,0.99516,3.26,0.84,11.7,7,0
2,8.6,0.370,0.65,6.40,0.080,3.0,8.0,0.99817,3.27,0.58,11.0,5,0
3,8.2,0.330,0.39,2.50,0.074,29.0,48.0,0.99528,3.32,0.88,12.4,7,0
4,11.4,0.625,0.66,6.20,0.088,6.0,24.0,0.99880,3.11,0.99,13.3,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,5.6,0.605,0.05,2.40,0.073,19.0,25.0,0.99258,3.56,0.55,12.9,5,4
1595,6.9,0.635,0.17,2.40,0.241,6.0,18.0,0.99610,3.40,0.59,10.3,6,4
1596,8.4,0.340,0.42,2.10,0.072,23.0,36.0,0.99392,3.11,0.78,12.4,6,4
1597,11.1,0.390,0.54,2.70,0.095,21.0,101.0,1.00010,3.13,0.51,9.5,5,4
1598,6.8,0.815,0.00,1.20,0.267,16.0,29.0,0.99471,3.32,0.51,9.8,3,4

In [10]:
df.to_csv("stratified_train_folds.csv", index=False)