In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd 
import seaborn as sns

In [27]:
df = pd.read_csv("../input/adult.csv")
#df.head()

In [28]:
df.income.value_counts()
#skewed data

<=50K    24720
>50K      7841
Name: income, dtype: int64

In [29]:
df = pd.read_csv("../input/adult_folds.csv")

In [30]:
df[df.kfold==0].income.value_counts()

<=50K    4944
>50K     1569
Name: income, dtype: int64

In [11]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income,kfold
0,43,Self-emp-not-inc,33521,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,70,United-States,>50K,0
1,26,Local-gov,104614,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,40,United-States,<=50K,0
2,43,Private,220589,HS-grad,9,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K,0
3,22,Private,63105,HS-grad,9,Never-married,Prof-specialty,Own-child,Black,Male,0,0,40,United-States,<=50K,0
4,36,Private,88967,11th,7,Never-married,Transport-moving,Unmarried,Amer-Indian-Eskimo,Male,0,0,65,United-States,<=50K,0

In [31]:
df.replace('?',np.NaN, inplace= True)
df.head(30)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income,kfold
0,43,Self-emp-not-inc,33521,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,70,United-States,>50K,0
1,26,Local-gov,104614,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,40,United-States,<=50K,0
2,43,Private,220589,HS-grad,9,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K,0
3,22,Private,63105,HS-grad,9,Never-married,Prof-specialty,Own-child,Black,Male,0,0,40,United-States,<=50K,0
4,36,Private,88967,11th,7,Never-married,Transport-moving,Unmarried,Amer-Indian-Eskimo,Male,0,0,65,United-States,<=50K,0
5,56,Self-emp-inc,105582,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,50,United-States,>50K,0
6,40,State-gov,119578,Bachelors,13,Never-married,Prof-specialty,Unmarried,White,Female,0,0,20,United-States,<=50K,0
7,24,Private,36058,Bachelors,13,Never-married,Sales,Not-in-family,White,Male,0,0,50,United-States,<=50K,0
8,28,Private,66095,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K,0
9,39,State-gov,152307,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K,0
10,28,Private,334368,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Female,4650,0,40,United-States,<=50K,0
11,63,NaN,179981,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,4,United-States,<=50K,0
12,36,Self-emp-not-inc,233533,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60,United-States,>50K,0
13,41,Local-gov,160785,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,0
14,42,Private,113770,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,<=50K,0
15,19,Private,199441,HS-grad,9,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K,0
16,36,Private,191335,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,56,United-States,<=50K,0
17,53,Local-gov,260106,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K,0
18,65,Self-emp-not-inc,31740,Some-college,10,Widowed,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,<=50K,0
19,63,Private,158609,Assoc-voc,11,Widowed,Adm-clerical,Unmarried,White,Female,0,0,8,United-States,<=50K,0
20,47,Private,266281,11th,7,Never-married,Machine-op-inspct,Unmarried,Black,Female,6849,0,40,United-States,<=50K,0
21,41,State-gov,47170,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Amer-Indian-Eskimo,Female,0,0,48,United-States,>50K,0
22,25,Local-gov,192321,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,40,United-States,<=50K,0
23,22,NaN,354351,Some-college,10,Never-married,NaN,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
24,28,Self-emp-not-inc,209205,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,40,United-States,>50K,0
25,31,Private,73585,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,<=50K,0
26,25,Private,135568,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K,0
27,27,Private,153291,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,>50K,0
28,20,NaN,244689,Some-college,10,Never-married,NaN,Not-in-family,White,Female,0,0,25,United-States,<=50K,0
29,31,Self-emp-not-inc,209213,HS-grad,9,Never-married,Sales,Not-in-family,Black,Male,0,0,40,NaN,<=50K,0

In [32]:
features = [f for f in df.columns if f not in ("income", "kfold")]
for col in features:
    df[col].fillna("NONE", inplace = True)
    df.loc[:, col] = df[col].astype(str)

In [33]:
df.head(30)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income,kfold
0,43,Self-emp-not-inc,33521,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,70,United-States,>50K,0
1,26,Local-gov,104614,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,40,United-States,<=50K,0
2,43,Private,220589,HS-grad,9,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K,0
3,22,Private,63105,HS-grad,9,Never-married,Prof-specialty,Own-child,Black,Male,0,0,40,United-States,<=50K,0
4,36,Private,88967,11th,7,Never-married,Transport-moving,Unmarried,Amer-Indian-Eskimo,Male,0,0,65,United-States,<=50K,0
5,56,Self-emp-inc,105582,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,50,United-States,>50K,0
6,40,State-gov,119578,Bachelors,13,Never-married,Prof-specialty,Unmarried,White,Female,0,0,20,United-States,<=50K,0
7,24,Private,36058,Bachelors,13,Never-married,Sales,Not-in-family,White,Male,0,0,50,United-States,<=50K,0
8,28,Private,66095,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K,0
9,39,State-gov,152307,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K,0
10,28,Private,334368,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Female,4650,0,40,United-States,<=50K,0
11,63,NONE,179981,HS-grad,9,Married-civ-spouse,NONE,Husband,White,Male,0,0,4,United-States,<=50K,0
12,36,Self-emp-not-inc,233533,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60,United-States,>50K,0
13,41,Local-gov,160785,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,0
14,42,Private,113770,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,<=50K,0
15,19,Private,199441,HS-grad,9,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K,0
16,36,Private,191335,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,56,United-States,<=50K,0
17,53,Local-gov,260106,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K,0
18,65,Self-emp-not-inc,31740,Some-college,10,Widowed,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,<=50K,0
19,63,Private,158609,Assoc-voc,11,Widowed,Adm-clerical,Unmarried,White,Female,0,0,8,United-States,<=50K,0
20,47,Private,266281,11th,7,Never-married,Machine-op-inspct,Unmarried,Black,Female,6849,0,40,United-States,<=50K,0
21,41,State-gov,47170,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Amer-Indian-Eskimo,Female,0,0,48,United-States,>50K,0
22,25,Local-gov,192321,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,40,United-States,<=50K,0
23,22,NONE,354351,Some-college,10,Never-married,NONE,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
24,28,Self-emp-not-inc,209205,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,40,United-States,>50K,0
25,31,Private,73585,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,<=50K,0
26,25,Private,135568,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K,0
27,27,Private,153291,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,>50K,0
28,20,NONE,244689,Some-college,10,Never-married,NONE,Not-in-family,White,Female,0,0,25,United-States,<=50K,0
29,31,Self-emp-not-inc,209213,HS-grad,9,Never-married,Sales,Not-in-family,Black,Male,0,0,40,NONE,<=50K,0